* { box-sizing: border-box; }

html {
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: lighten($link-color, 75%);
	-webkit-text-size-adjust: 100%;
	font-size: 10px;
}

body {
	background: $bg-color;
	color: $text-color;
	font-family: $base-font;
	font-weight: $base-font-weight;
	line-height: $base-line-height;
	transition: all 200ms ease-in;
}

img,
picture {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}



