.bg-img{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	&.pos-top-center{ background-position: top center; }
	&.pos-top-left{ background-position: top left; }
	&.pos-top-right{ background-position: top center; }
	
	&.pos-btm-center{ background-position: bottom center; }
	&.pos-btm-left{ background-position: bottom left; }
	&.pos-btm-right{ background-position: bottom center; }
	
	&.full{
		width: 100%;
		min-height: 100vh;
	}
}

.bg-overlay{ background-image: linear-gradient(to bottom, rgba($black,0.3), rgba($black,0.3)); }

.bgcolor { #{headings()}, p { color: $text-color-bg-color; } }

.aligncenter{ text-align: center; }
.alignright{ text-align: right; }

// Wordpress WYSIWYG img styles
p img{
	display: block;
	margin-bottom: 2rem;
	
	&.aligncenter { margin: 0 auto; }
	
	&.alignleft{
		@include breakpoint($md){
			float: left;
			margin-right: $base-margin;
		}
	}
	
	&.alignright{
		@include breakpoint($md){
			float: right;
			margin-left: $base-margin;
		}
	}
}

.video-wrapper {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%; // 16:9
	//padding-bottom: 75%; // 4:3
	position: relative;
	
	embed,
	object,
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}