a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;
	transition: all, 0.2s, ease-in-out;
	
	&:active,
	&:focus,
	&:hover {
		color: shade($link-color,25%);
		outline: 0;
	}
	
	&.tooltip-item {
		position: relative;
		
		&::after {
			background-color: $white;
			border: $input-border;
			color: $text-color;
			font-size: modular-scale(-1);
			content: attr(aria-label);
			display: none;
			position: absolute;
			bottom: 100%;
			left: 0;
			padding: 1rem;
			pointer-events: none;
		}
	
		&:hover::after,
		&:focus::after{
			display: inline-block;
		}
	}
}

p {
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin-bottom: $base-margin;
}

// headings
#{headings()} {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: 500;
	text-rendering: optimizelegibility;
	line-height: $base-line-height;
	margin-bottom: 1rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.0rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

// basic elements
blockquote {
	@extend p;
	border-left: 2px solid $grey;
	color: $grey;
	font-style: italic;
	padding-left: $base-padding;
}

ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

article {
  	
	ul { list-style-type: disc; }
	ol { list-style-type: decimal; }
	
	ul,
	ol {
		font-size: $base-font-size;
		padding-left: $base-padding;
		margin-bottom: $base-margin;
		
		li {
			line-height: $base-line-height;
			margin-bottom: 1rem;
		}
	    
		ul, ol { margin-bottom: 0; }
  }
}

sup {
	font-size: 0.9rem;
	position: relative;
	top: -0.75rem;
}

b, strong { font-weight: bold; }

i, em{ font-style: italic; }

small, .small{ font-size: 75%; }
