/************************************************************************/
/* INSET CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.inset-xs-#{$i}{
		$c: $i of $columns;
		padding-right: span($i);
		padding-left: span($i);
	}
}

@each $name, $breakpoint, $class in $GRID_CLASSES{
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			.inset-#{$class}-#{$i}{
				$c: $i of $columns;
				padding-right: span($i);
				padding-left: span($i);
			}
		}
	}
}
