/************************************************************************/
/* PULL CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.pull-xs-#{$i}{
		$c: $i of $columns;
		margin-right: span($c);
	}
}

@each $name, $breakpoint, $class in $GRID_CLASSES{
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			.pull-#{$class}-#{$i}{
				$c: $i of $columns;
				margin-right: span($c);
			}
		}
	}
}
