/************************************************************************/
/* PUSH CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.push-xs-#{$i}{
		$c: $i of $columns;
		margin-left: span($c);
	}
}

@each $name, $breakpoint, $class in $GRID_CLASSES{
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			.push-#{$class}-#{$i}{
				$c: $i of $columns;
				margin-left: span($c);
			}
		}
	}
}
