/************************************************************************/
/* ROW
/************************************************************************/
.row{
	@include clearfix;
	width: 100%;
}

.row-flex{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.row-flex-nowrap{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

@each $name, $breakpoint, $class in $GRID_CLASSES{
	@include breakpoint(#{$breakpoint}){
		.row-flex-#{$class}{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		.row-flex-nowrap-#{$class}{
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
		}
	}
}