/************************************************************************/
/* TOP BAR STYLES
/************************************************************************/

#top_bar {
	display: none;
	padding: 0.5rem 0;
	font-size: 1.2rem;
	line-height: 1;
	border-bottom: 1px solid;
	height: 4.2rem;
	
	@include breakpoint($md-lg){ display: block }
	
	.top-bar-left, .top-bar-right {
		display: flex;
		align-items: center;
		height: 100%;
	}
	.top-bar-left {
		text-align: left;
		
		.top-bar-section { margin-right: 2rem; }
	}
	.top-bar-right {
		text-align: right;
		
		.top-bar-section { margin-left: 2rem; }
	}
	.top-bar-section {
		display: inline-block;
		
		ul {
			margin: 0;
			padding: 0;
			
			li {
				display: inline-block;
				padding: 0.3rem;
				
				i { font-size: 1.6rem }
			}
		}
		p {
			margin: 0;
			font-size: 1.2rem;
			line-height: 1;
			font-weight: 700;
		}
	}
}