/************************************************************************/
/* HEADER STYLES
/************************************************************************/

header[role="banner"] {
	position: relative;
	z-index: 10;
	
	&.left-aligned {
		.wrap { justify-content: flex-start }
	}
	&.centered {
		.wrap { justify-content: center }
		.main-menu ul { padding-right: 2rem }
		
		&.stacked {
			.logo { padding: 1rem }
			nav#main_menu {
				width: 100%;
				border-top: 1px solid currentColor;
				
				.main-menu ul {
					padding: 0.3rem;
					
					li a:after { height: 0.3rem; bottom: -0.3rem }
				}
			}
		}
	}
	.logo {
		display: flex;
    justify-content: center;
    align-items: center;
		width: 14.6rem;
		padding: 0.5rem 0.6rem;
		
		@include breakpoint($md){
			//width: 18rem;
			padding: 2rem 1.5rem 2.5rem;
			padding: 0.5rem 0.6rem;
		}
		@include breakpoint($lg){
			//width: 23rem;
			padding: 2.4rem 1.6rem 3.1rem;
			padding: 0.5rem 0.6rem;
		}
		
		svg {
			width: 100%;
		}
	}
	
	.menu-toggle {
		font-size: 1.9rem;
		font-weight: 700;
		font-family: $heading-font;

		span { transition: opacity 0.2s ease-in-out; }
		&.is-active {
			span { opacity: 0 }
		}
	}

	.main-menu {	
		ul {
			font-family: $heading_font;
			font-size: 1.8rem;
			
			@include breakpoint($md-lg){
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-family: $heading_font;
				font-size: 1.5rem;
				line-height: 1.3;
				padding: 1rem 0 1rem 2rem;
			}
			@include breakpoint($md){
				padding: 1.5rem 0 1.5rem 2rem;
			}
			@include breakpoint($lg){
				padding: 2.5rem 0 2.5rem 2rem;
			}
			
			li {
				position: relative;
				width: 100%;
				text-align: center;
				transition: all 0.3s ease-in-out;
				
				@include breakpoint($md-lg){
					width: auto;
					
					&:hover > a, &.open > a, &.current-menu-item > a, &.current-page-parent > a, &.current-page-ancestor > a {
						&:after {
							width: calc(100% - 3rem);
						}
					}
				}
				@include breakpoint($md){
					padding: 0 1rem;
				}
				
				a {
					display: block;
					padding: 2rem;
					color: $white;
					text-transform: uppercase;
					transition: all 0.3s ease-in-out;
					position: relative;
					
					@include breakpoint($md-lg){
						padding: 1rem 1.5rem 0.8rem;
						font-weight: 600;
					}
					
					/*
					// uncomment to add underline effect to nav
					&:after {
						content: "";
						display: block;
						background: currentcolor;
						height: 0.2rem;
						width: 0;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						margin: 0 auto;
						transition: width 0.2s;
					}
					*/
				}
				
				// sub-menu styles
				&.menu-item-has-children {
					&:after {
						
					}
					&:hover {
						>.sub-menu {
							transform: rotateX(0deg);
							opacity: 1;
						}
					}
				}
				.sub-menu {
					position: absolute;
					top: 100%;
					opacity: 0;
					//background: $white;
					display: block;
					padding: 0;
					transition: all 0.3s ease-in-out;
					transform-origin: top;
					transform: rotateX(-90deg);
					
					&:hover { transform: rotateX(0deg); opacity: 1; }
					
					li { padding: 0; text-align: left; }
					a { white-space: nowrap; padding: 1.3rem 1.5rem 1.1rem; }
					
					.sub-menu {
						left: 100%;
						top: 0;
						opacity: 0;
						transform-origin: top;
						transform: rotateX(-90deg);
					}
				}
			}
		}
	}
}