/************************************************************************/
/* THIS CREATES THE GRID CLASSES
/************************************************************************/

// MAP FOR GRID CLASSES
$grid_classes: 	("MOBILE LANDSCAPE" $mobilels "ml"),
		("TABLET" $tablet "t"),
		("TABLET LANDSCAPE" $tabletls "tl"),
		("DESKTOP" $desktop "d"),
		("WIDESCREEN" $widescreen "w");

.row{
	@include clearfix;
	width: 100%;
}

.row_flex{
	width: 100%;
	@include flexbox();
	@include flex-wrap(wrap);
}

@each $name, $breakpoint, $class in $grid_classes{
	@include breakpoint(#{$breakpoint}){
		.row_flex_#{$class}{
			width: 100%;
			@include flexbox();
			@include flex-wrap(wrap);
		}
	}
}

/************************************************************************/
/* PUSH CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.push_m_#{$i}{
		@include pre($i of $columns);
	}
}

@each $name, $breakpoint, $class in $grid_classes{
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			.push_#{$class}_#{$i}{
				@include pre($i of $columns);
			}
		}
	}
}


/************************************************************************/
/* PULL CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.pull_m_#{$i}{
		@include post($i of $columns);
	}
}

@each $name, $breakpoint, $class in $grid_classes{
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			.pull_#{$class}_#{$i}{
				@include post($i of $columns);
			}
		}
	}
}


/************************************************************************/
/* MOBILE GRID CLASSES
/************************************************************************/
@for $i from 1 through $columns{
	.m_#{$i} {
		@include span($i of $columns);
		$nth: unquote(($columns / $i) + 'n');
		@if $i == 1{
			&.last, &:nth-child(#{$nth}){
				@include span($i of $columns last);
			}
		}@else if $i == 2{
			&.last, &:nth-child(#{$nth}){
				@include span($i of $columns last);
			}
		}@else if $i == 3{
			&.last, &:nth-child(#{$nth}){
				@include span($i of $columns last);
			}
		}@else if $i == 4{
			&.last, &:nth-child(#{$nth}){
				@include span($i of $columns last);
			}
		}@else if $i == 6{
			&.last, &:nth-child(#{$nth}){
				@include span($i of $columns last);
			}
		}@else{
			&.last{
				@include span($i of $columns last);
			}
		}
	}
}

@each $name, $breakpoint, $class in $grid_classes{
	/************************************************************************/
	/* #{$name} GRID CLASSES
	/************************************************************************/
	@include breakpoint(#{$breakpoint}){
		@for $i from 1 through $columns{
			$x: unquote('.' + $class + '_' + $i);
			#{$x}{
				@include span($i of $columns);
				&:nth-child(12n), &:nth-child(6n), &:nth-child(4n), &:nth-child(3n), &:nth-child(2n) { @include span($i of $columns); };
				$nth: unquote(($columns / $i) + 'n');
				@if $i == 1{
					&.last, &:nth-child(#{$nth}){
						@include span($i of $columns last);
					}
				}@else if $i == 2{
					&.last, &:nth-child(#{$nth}){
						@include span($i of $columns last);
					}
				}@else if $i == 3{
					&.last, &:nth-child(#{$nth}){
						@include span($i of $columns last);
					}
				}@else if $i == 4{
					&.last, &:nth-child(#{$nth}){
						@include span($i of $columns last);
					}
				}@else if $i == 6{
					&.last, &:nth-child(#{$nth}){
						@include span($i of $columns last);
					}
				}@else{
					&.last{
						@include span($i of $columns last);
					}
				}
			}
		}
	}
}

/************************************************************************/
/* SHOW/HIDE CLASSES
/************************************************************************/
.hide_m_down{
	display: none;
	@include breakpoint($mobilels){
		display: block;
	}
}

@each $name, $breakpoint, $class in $grid_classes{
	.hide_#{$class}_down{
		display: none;
		@include breakpoint(#{$breakpoint}){
			display: block;
		}
	}
}

.hide_m_up{
	@include breakpoint($mobilels){
		display: none;
	}
}

@each $name, $breakpoint, $class in $grid_classes{
	.hide_#{$class}_up{
		@include breakpoint(#{$breakpoint}){
			display: none;
		}
	}
}
