//------------------------------------------------------------------------
// GRID VARIABLES
//------------------------------------------------------------------------

// Column & Container & Thingzzz
$wrap: 1140;
$columns: 12;
$susy: (columns: repeat($columns));
$container: $wrap + 60;
$c: $container + px;

// Breakpoints
$xs: 320px;
$sm: 600px;
$md: 900px;
$lg: $c;
$xl: 1500px;

// MAP FOR GRID CLASSES
$GRID_CLASSES: ("SMALL" $sm "sm"),("MEDIUM" $md "md"),("LARGE" $lg "lg"),("XTRA LARGE" $xl "xl");

// Other Grid Variables
$grid-border-box: border-box;
$grid-gutter-position: after;
$grid-padding: 0 1.5rem;