/************************************************************************/
/************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/************************************************************************/
/* FLEXBOX
/************************************************************************/
/************************************************************************/
/* GRID VARIABLES
/************************************************************************/
/************************************************************************/
/* GRID SETUP
/************************************************************************/
/************************************************************************/
/* THIS CREATES THE GRID CLASSES
/************************************************************************/
/************************************************************************/
/* MOBILE GRID CLASSES
/************************************************************************/
.sm_1 {
  width: 8.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_1.last, .sm_1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0; }

.sm_2 {
  width: 16.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_2.last, .sm_2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0; }

.sm_3 {
  width: 25%;
  float: left;
  padding: 0 1.5rem; }
  .sm_3.last, .sm_3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0; }

.sm_4 {
  width: 33.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_4.last, .sm_4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0; }

.sm_5 {
  width: 41.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0; }

.sm_6 {
  width: 50%;
  float: left;
  padding: 0 1.5rem; }
  .sm_6.last, .sm_6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0; }

.sm_7 {
  width: 58.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0; }

.sm_8 {
  width: 66.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0; }

.sm_9 {
  width: 75%;
  float: left;
  padding: 0 1.5rem; }
  .sm_9.last {
    width: 75%;
    float: right;
    margin-right: 0; }

.sm_10 {
  width: 83.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0; }

.sm_11 {
  width: 91.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0; }

.sm_12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.5rem; }
  .sm_12.last {
    width: 100%;
    float: right;
    margin-right: 0; }

/************************************************************************/
/* MEDIUM GRID CLASSES
/************************************************************************/
@media (min-width: 570px) {
  .md_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_1:nth-child(12n), .md_1:nth-child(6n), .md_1:nth-child(4n), .md_1:nth-child(3n), .md_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .md_1.last, .md_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .md_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_2:nth-child(12n), .md_2:nth-child(6n), .md_2:nth-child(4n), .md_2:nth-child(3n), .md_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .md_2.last, .md_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .md_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .md_3:nth-child(12n), .md_3:nth-child(6n), .md_3:nth-child(4n), .md_3:nth-child(3n), .md_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .md_3.last, .md_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .md_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_4:nth-child(12n), .md_4:nth-child(6n), .md_4:nth-child(4n), .md_4:nth-child(3n), .md_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .md_4.last, .md_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .md_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_5:nth-child(12n), .md_5:nth-child(6n), .md_5:nth-child(4n), .md_5:nth-child(3n), .md_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .md_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .md_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .md_6:nth-child(12n), .md_6:nth-child(6n), .md_6:nth-child(4n), .md_6:nth-child(3n), .md_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .md_6.last, .md_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .md_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_7:nth-child(12n), .md_7:nth-child(6n), .md_7:nth-child(4n), .md_7:nth-child(3n), .md_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .md_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .md_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_8:nth-child(12n), .md_8:nth-child(6n), .md_8:nth-child(4n), .md_8:nth-child(3n), .md_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .md_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .md_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .md_9:nth-child(12n), .md_9:nth-child(6n), .md_9:nth-child(4n), .md_9:nth-child(3n), .md_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .md_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .md_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_10:nth-child(12n), .md_10:nth-child(6n), .md_10:nth-child(4n), .md_10:nth-child(3n), .md_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .md_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .md_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_11:nth-child(12n), .md_11:nth-child(6n), .md_11:nth-child(4n), .md_11:nth-child(3n), .md_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .md_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .md_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .md_12:nth-child(12n), .md_12:nth-child(6n), .md_12:nth-child(4n), .md_12:nth-child(3n), .md_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .md_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 820px) {
  .lg_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_1:nth-child(12n), .lg_1:nth-child(6n), .lg_1:nth-child(4n), .lg_1:nth-child(3n), .lg_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .lg_1.last, .lg_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .lg_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_2:nth-child(12n), .lg_2:nth-child(6n), .lg_2:nth-child(4n), .lg_2:nth-child(3n), .lg_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .lg_2.last, .lg_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .lg_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .lg_3:nth-child(12n), .lg_3:nth-child(6n), .lg_3:nth-child(4n), .lg_3:nth-child(3n), .lg_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .lg_3.last, .lg_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .lg_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_4:nth-child(12n), .lg_4:nth-child(6n), .lg_4:nth-child(4n), .lg_4:nth-child(3n), .lg_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .lg_4.last, .lg_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .lg_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_5:nth-child(12n), .lg_5:nth-child(6n), .lg_5:nth-child(4n), .lg_5:nth-child(3n), .lg_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .lg_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .lg_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .lg_6:nth-child(12n), .lg_6:nth-child(6n), .lg_6:nth-child(4n), .lg_6:nth-child(3n), .lg_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .lg_6.last, .lg_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .lg_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_7:nth-child(12n), .lg_7:nth-child(6n), .lg_7:nth-child(4n), .lg_7:nth-child(3n), .lg_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .lg_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .lg_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_8:nth-child(12n), .lg_8:nth-child(6n), .lg_8:nth-child(4n), .lg_8:nth-child(3n), .lg_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .lg_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .lg_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .lg_9:nth-child(12n), .lg_9:nth-child(6n), .lg_9:nth-child(4n), .lg_9:nth-child(3n), .lg_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .lg_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .lg_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_10:nth-child(12n), .lg_10:nth-child(6n), .lg_10:nth-child(4n), .lg_10:nth-child(3n), .lg_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .lg_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .lg_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_11:nth-child(12n), .lg_11:nth-child(6n), .lg_11:nth-child(4n), .lg_11:nth-child(3n), .lg_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .lg_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .lg_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .lg_12:nth-child(12n), .lg_12:nth-child(6n), .lg_12:nth-child(4n), .lg_12:nth-child(3n), .lg_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .lg_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* XTRA LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 1200px) {
  .xl_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_1:nth-child(12n), .xl_1:nth-child(6n), .xl_1:nth-child(4n), .xl_1:nth-child(3n), .xl_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .xl_1.last, .xl_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .xl_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_2:nth-child(12n), .xl_2:nth-child(6n), .xl_2:nth-child(4n), .xl_2:nth-child(3n), .xl_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .xl_2.last, .xl_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .xl_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .xl_3:nth-child(12n), .xl_3:nth-child(6n), .xl_3:nth-child(4n), .xl_3:nth-child(3n), .xl_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .xl_3.last, .xl_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .xl_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_4:nth-child(12n), .xl_4:nth-child(6n), .xl_4:nth-child(4n), .xl_4:nth-child(3n), .xl_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .xl_4.last, .xl_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .xl_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_5:nth-child(12n), .xl_5:nth-child(6n), .xl_5:nth-child(4n), .xl_5:nth-child(3n), .xl_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .xl_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .xl_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .xl_6:nth-child(12n), .xl_6:nth-child(6n), .xl_6:nth-child(4n), .xl_6:nth-child(3n), .xl_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .xl_6.last, .xl_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .xl_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_7:nth-child(12n), .xl_7:nth-child(6n), .xl_7:nth-child(4n), .xl_7:nth-child(3n), .xl_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .xl_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .xl_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_8:nth-child(12n), .xl_8:nth-child(6n), .xl_8:nth-child(4n), .xl_8:nth-child(3n), .xl_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .xl_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .xl_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .xl_9:nth-child(12n), .xl_9:nth-child(6n), .xl_9:nth-child(4n), .xl_9:nth-child(3n), .xl_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .xl_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .xl_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_10:nth-child(12n), .xl_10:nth-child(6n), .xl_10:nth-child(4n), .xl_10:nth-child(3n), .xl_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .xl_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .xl_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_11:nth-child(12n), .xl_11:nth-child(6n), .xl_11:nth-child(4n), .xl_11:nth-child(3n), .xl_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .xl_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .xl_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .xl_12:nth-child(12n), .xl_12:nth-child(6n), .xl_12:nth-child(4n), .xl_12:nth-child(3n), .xl_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .xl_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* XTRA XTRA LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 1500px) {
  .xxl_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_1:nth-child(12n), .xxl_1:nth-child(6n), .xxl_1:nth-child(4n), .xxl_1:nth-child(3n), .xxl_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .xxl_1.last, .xxl_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .xxl_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_2:nth-child(12n), .xxl_2:nth-child(6n), .xxl_2:nth-child(4n), .xxl_2:nth-child(3n), .xxl_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .xxl_2.last, .xxl_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .xxl_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_3:nth-child(12n), .xxl_3:nth-child(6n), .xxl_3:nth-child(4n), .xxl_3:nth-child(3n), .xxl_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .xxl_3.last, .xxl_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .xxl_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_4:nth-child(12n), .xxl_4:nth-child(6n), .xxl_4:nth-child(4n), .xxl_4:nth-child(3n), .xxl_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .xxl_4.last, .xxl_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .xxl_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_5:nth-child(12n), .xxl_5:nth-child(6n), .xxl_5:nth-child(4n), .xxl_5:nth-child(3n), .xxl_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .xxl_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .xxl_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_6:nth-child(12n), .xxl_6:nth-child(6n), .xxl_6:nth-child(4n), .xxl_6:nth-child(3n), .xxl_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .xxl_6.last, .xxl_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .xxl_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_7:nth-child(12n), .xxl_7:nth-child(6n), .xxl_7:nth-child(4n), .xxl_7:nth-child(3n), .xxl_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .xxl_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .xxl_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_8:nth-child(12n), .xxl_8:nth-child(6n), .xxl_8:nth-child(4n), .xxl_8:nth-child(3n), .xxl_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .xxl_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .xxl_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_9:nth-child(12n), .xxl_9:nth-child(6n), .xxl_9:nth-child(4n), .xxl_9:nth-child(3n), .xxl_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .xxl_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .xxl_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_10:nth-child(12n), .xxl_10:nth-child(6n), .xxl_10:nth-child(4n), .xxl_10:nth-child(3n), .xxl_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .xxl_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .xxl_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xxl_11:nth-child(12n), .xxl_11:nth-child(6n), .xxl_11:nth-child(4n), .xxl_11:nth-child(3n), .xxl_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .xxl_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .xxl_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .xxl_12:nth-child(12n), .xxl_12:nth-child(6n), .xxl_12:nth-child(4n), .xxl_12:nth-child(3n), .xxl_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .xxl_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* ROW
/************************************************************************/
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%; }

.row_flex {
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (min-width: 570px) {
  .row_flex_md {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }
@media (min-width: 820px) {
  .row_flex_lg {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }
@media (min-width: 1200px) {
  .row_flex_xl {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }
@media (min-width: 1500px) {
  .row_flex_xxl {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; } }
/************************************************************************/
/* INSET CLASSES
/************************************************************************/
.inset_m_1 {
  padding-left: 8.33333%;
  padding-right: 8.33333%; }

.inset_m_2 {
  padding-left: 16.66667%;
  padding-right: 16.66667%; }

.inset_m_3 {
  padding-left: 25%;
  padding-right: 25%; }

.inset_m_4 {
  padding-left: 33.33333%;
  padding-right: 33.33333%; }

.inset_m_5 {
  padding-left: 41.66667%;
  padding-right: 41.66667%; }

.inset_m_6 {
  padding-left: 50%;
  padding-right: 50%; }

.inset_m_7 {
  padding-left: 58.33333%;
  padding-right: 58.33333%; }

.inset_m_8 {
  padding-left: 66.66667%;
  padding-right: 66.66667%; }

.inset_m_9 {
  padding-left: 75%;
  padding-right: 75%; }

.inset_m_10 {
  padding-left: 83.33333%;
  padding-right: 83.33333%; }

.inset_m_11 {
  padding-left: 91.66667%;
  padding-right: 91.66667%; }

.inset_m_12 {
  padding-left: 100%;
  padding-right: 100%; }

@media (min-width: 570px) {
  .inset_md_1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%; }

  .inset_md_2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%; }

  .inset_md_3 {
    padding-left: 25%;
    padding-right: 25%; }

  .inset_md_4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%; }

  .inset_md_5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%; }

  .inset_md_6 {
    padding-left: 50%;
    padding-right: 50%; }

  .inset_md_7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%; }

  .inset_md_8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%; }

  .inset_md_9 {
    padding-left: 75%;
    padding-right: 75%; }

  .inset_md_10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%; }

  .inset_md_11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%; }

  .inset_md_12 {
    padding-left: 100%;
    padding-right: 100%; } }
@media (min-width: 820px) {
  .inset_lg_1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%; }

  .inset_lg_2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%; }

  .inset_lg_3 {
    padding-left: 25%;
    padding-right: 25%; }

  .inset_lg_4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%; }

  .inset_lg_5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%; }

  .inset_lg_6 {
    padding-left: 50%;
    padding-right: 50%; }

  .inset_lg_7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%; }

  .inset_lg_8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%; }

  .inset_lg_9 {
    padding-left: 75%;
    padding-right: 75%; }

  .inset_lg_10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%; }

  .inset_lg_11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%; }

  .inset_lg_12 {
    padding-left: 100%;
    padding-right: 100%; } }
@media (min-width: 1200px) {
  .inset_xl_1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%; }

  .inset_xl_2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%; }

  .inset_xl_3 {
    padding-left: 25%;
    padding-right: 25%; }

  .inset_xl_4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%; }

  .inset_xl_5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%; }

  .inset_xl_6 {
    padding-left: 50%;
    padding-right: 50%; }

  .inset_xl_7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%; }

  .inset_xl_8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%; }

  .inset_xl_9 {
    padding-left: 75%;
    padding-right: 75%; }

  .inset_xl_10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%; }

  .inset_xl_11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%; }

  .inset_xl_12 {
    padding-left: 100%;
    padding-right: 100%; } }
@media (min-width: 1500px) {
  .inset_xxl_1 {
    padding-left: 8.33333%;
    padding-right: 8.33333%; }

  .inset_xxl_2 {
    padding-left: 16.66667%;
    padding-right: 16.66667%; }

  .inset_xxl_3 {
    padding-left: 25%;
    padding-right: 25%; }

  .inset_xxl_4 {
    padding-left: 33.33333%;
    padding-right: 33.33333%; }

  .inset_xxl_5 {
    padding-left: 41.66667%;
    padding-right: 41.66667%; }

  .inset_xxl_6 {
    padding-left: 50%;
    padding-right: 50%; }

  .inset_xxl_7 {
    padding-left: 58.33333%;
    padding-right: 58.33333%; }

  .inset_xxl_8 {
    padding-left: 66.66667%;
    padding-right: 66.66667%; }

  .inset_xxl_9 {
    padding-left: 75%;
    padding-right: 75%; }

  .inset_xxl_10 {
    padding-left: 83.33333%;
    padding-right: 83.33333%; }

  .inset_xxl_11 {
    padding-left: 91.66667%;
    padding-right: 91.66667%; }

  .inset_xxl_12 {
    padding-left: 100%;
    padding-right: 100%; } }
/************************************************************************/
/* SHOW/HIDE CLASSES
/************************************************************************/
.hide_m_down {
  display: none; }
  @media (min-width: 570px) {
    .hide_m_down {
      display: block; } }

.hide_md_down {
  display: none; }
  @media (min-width: 570px) {
    .hide_md_down {
      display: block; } }

.hide_lg_down {
  display: none; }
  @media (min-width: 820px) {
    .hide_lg_down {
      display: block; } }

.hide_xl_down {
  display: none; }
  @media (min-width: 1200px) {
    .hide_xl_down {
      display: block; } }

.hide_xxl_down {
  display: none; }
  @media (min-width: 1500px) {
    .hide_xxl_down {
      display: block; } }

@media (min-width: 570px) {
  .hide_m_up {
    display: none; } }

@media (min-width: 570px) {
  .hide_md_up {
    display: none; } }

@media (min-width: 820px) {
  .hide_lg_up {
    display: none; } }

@media (min-width: 1200px) {
  .hide_xl_up {
    display: none; } }

@media (min-width: 1500px) {
  .hide_xxl_up {
    display: none; } }
