/************************************************************************/
/************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/************************************************************************/
/* FLEXBOX
/************************************************************************/
/************************************************************************/
/* GRID VARIABLES
/************************************************************************/
/************************************************************************/
/* GRID SETUP
/************************************************************************/
/************************************************************************/
/* THIS CREATES THE GRID CLASSES
/************************************************************************/
/************************************************************************/
/* MOBILE GRID CLASSES
/************************************************************************/
.sm_1 {
  width: 8.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_1.last, .sm_1:nth-child(12n) {
    width: 8.33333%;
    float: right;
    margin-right: 0; }

.sm_2 {
  width: 16.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_2.last, .sm_2:nth-child(6n) {
    width: 16.66667%;
    float: right;
    margin-right: 0; }

.sm_3 {
  width: 25%;
  float: left;
  padding: 0 1.5rem; }
  .sm_3.last, .sm_3:nth-child(4n) {
    width: 25%;
    float: right;
    margin-right: 0; }

.sm_4 {
  width: 33.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_4.last, .sm_4:nth-child(3n) {
    width: 33.33333%;
    float: right;
    margin-right: 0; }

.sm_5 {
  width: 41.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_5.last {
    width: 41.66667%;
    float: right;
    margin-right: 0; }

.sm_6 {
  width: 50%;
  float: left;
  padding: 0 1.5rem; }
  .sm_6.last, .sm_6:nth-child(2n) {
    width: 50%;
    float: right;
    margin-right: 0; }

.sm_7 {
  width: 58.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_7.last {
    width: 58.33333%;
    float: right;
    margin-right: 0; }

.sm_8 {
  width: 66.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_8.last {
    width: 66.66667%;
    float: right;
    margin-right: 0; }

.sm_9 {
  width: 75%;
  float: left;
  padding: 0 1.5rem; }
  .sm_9.last {
    width: 75%;
    float: right;
    margin-right: 0; }

.sm_10 {
  width: 83.33333%;
  float: left;
  padding: 0 1.5rem; }
  .sm_10.last {
    width: 83.33333%;
    float: right;
    margin-right: 0; }

.sm_11 {
  width: 91.66667%;
  float: left;
  padding: 0 1.5rem; }
  .sm_11.last {
    width: 91.66667%;
    float: right;
    margin-right: 0; }

.sm_12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.5rem; }
  .sm_12.last {
    width: 100%;
    float: right;
    margin-right: 0; }

/************************************************************************/
/* MEDIUM GRID CLASSES
/************************************************************************/
@media (min-width: 570px) {
  .md_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_1:nth-child(12n), .md_1:nth-child(6n), .md_1:nth-child(4n), .md_1:nth-child(3n), .md_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .md_1.last, .md_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .md_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_2:nth-child(12n), .md_2:nth-child(6n), .md_2:nth-child(4n), .md_2:nth-child(3n), .md_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .md_2.last, .md_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .md_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .md_3:nth-child(12n), .md_3:nth-child(6n), .md_3:nth-child(4n), .md_3:nth-child(3n), .md_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .md_3.last, .md_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .md_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_4:nth-child(12n), .md_4:nth-child(6n), .md_4:nth-child(4n), .md_4:nth-child(3n), .md_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .md_4.last, .md_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .md_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_5:nth-child(12n), .md_5:nth-child(6n), .md_5:nth-child(4n), .md_5:nth-child(3n), .md_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .md_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .md_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .md_6:nth-child(12n), .md_6:nth-child(6n), .md_6:nth-child(4n), .md_6:nth-child(3n), .md_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .md_6.last, .md_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .md_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_7:nth-child(12n), .md_7:nth-child(6n), .md_7:nth-child(4n), .md_7:nth-child(3n), .md_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .md_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .md_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_8:nth-child(12n), .md_8:nth-child(6n), .md_8:nth-child(4n), .md_8:nth-child(3n), .md_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .md_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .md_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .md_9:nth-child(12n), .md_9:nth-child(6n), .md_9:nth-child(4n), .md_9:nth-child(3n), .md_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .md_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .md_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .md_10:nth-child(12n), .md_10:nth-child(6n), .md_10:nth-child(4n), .md_10:nth-child(3n), .md_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .md_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .md_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .md_11:nth-child(12n), .md_11:nth-child(6n), .md_11:nth-child(4n), .md_11:nth-child(3n), .md_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .md_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .md_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .md_12:nth-child(12n), .md_12:nth-child(6n), .md_12:nth-child(4n), .md_12:nth-child(3n), .md_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .md_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 820px) {
  .lg_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_1:nth-child(12n), .lg_1:nth-child(6n), .lg_1:nth-child(4n), .lg_1:nth-child(3n), .lg_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .lg_1.last, .lg_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .lg_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_2:nth-child(12n), .lg_2:nth-child(6n), .lg_2:nth-child(4n), .lg_2:nth-child(3n), .lg_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .lg_2.last, .lg_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .lg_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .lg_3:nth-child(12n), .lg_3:nth-child(6n), .lg_3:nth-child(4n), .lg_3:nth-child(3n), .lg_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .lg_3.last, .lg_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .lg_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_4:nth-child(12n), .lg_4:nth-child(6n), .lg_4:nth-child(4n), .lg_4:nth-child(3n), .lg_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .lg_4.last, .lg_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .lg_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_5:nth-child(12n), .lg_5:nth-child(6n), .lg_5:nth-child(4n), .lg_5:nth-child(3n), .lg_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .lg_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .lg_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .lg_6:nth-child(12n), .lg_6:nth-child(6n), .lg_6:nth-child(4n), .lg_6:nth-child(3n), .lg_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .lg_6.last, .lg_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .lg_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_7:nth-child(12n), .lg_7:nth-child(6n), .lg_7:nth-child(4n), .lg_7:nth-child(3n), .lg_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .lg_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .lg_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_8:nth-child(12n), .lg_8:nth-child(6n), .lg_8:nth-child(4n), .lg_8:nth-child(3n), .lg_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .lg_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .lg_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .lg_9:nth-child(12n), .lg_9:nth-child(6n), .lg_9:nth-child(4n), .lg_9:nth-child(3n), .lg_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .lg_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .lg_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .lg_10:nth-child(12n), .lg_10:nth-child(6n), .lg_10:nth-child(4n), .lg_10:nth-child(3n), .lg_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .lg_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .lg_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .lg_11:nth-child(12n), .lg_11:nth-child(6n), .lg_11:nth-child(4n), .lg_11:nth-child(3n), .lg_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .lg_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .lg_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .lg_12:nth-child(12n), .lg_12:nth-child(6n), .lg_12:nth-child(4n), .lg_12:nth-child(3n), .lg_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .lg_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
/************************************************************************/
/* XTRA LARGE GRID CLASSES
/************************************************************************/
@media (min-width: 1140px) {
  .xl_1 {
    width: 8.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_1:nth-child(12n), .xl_1:nth-child(6n), .xl_1:nth-child(4n), .xl_1:nth-child(3n), .xl_1:nth-child(2n) {
      width: 8.33333%;
      float: left; }
    .xl_1.last, .xl_1:nth-child(12n) {
      width: 8.33333%;
      float: right;
      margin-right: 0; }

  .xl_2 {
    width: 16.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_2:nth-child(12n), .xl_2:nth-child(6n), .xl_2:nth-child(4n), .xl_2:nth-child(3n), .xl_2:nth-child(2n) {
      width: 16.66667%;
      float: left; }
    .xl_2.last, .xl_2:nth-child(6n) {
      width: 16.66667%;
      float: right;
      margin-right: 0; }

  .xl_3 {
    width: 25%;
    float: left;
    padding: 0 1.5rem; }
    .xl_3:nth-child(12n), .xl_3:nth-child(6n), .xl_3:nth-child(4n), .xl_3:nth-child(3n), .xl_3:nth-child(2n) {
      width: 25%;
      float: left; }
    .xl_3.last, .xl_3:nth-child(4n) {
      width: 25%;
      float: right;
      margin-right: 0; }

  .xl_4 {
    width: 33.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_4:nth-child(12n), .xl_4:nth-child(6n), .xl_4:nth-child(4n), .xl_4:nth-child(3n), .xl_4:nth-child(2n) {
      width: 33.33333%;
      float: left; }
    .xl_4.last, .xl_4:nth-child(3n) {
      width: 33.33333%;
      float: right;
      margin-right: 0; }

  .xl_5 {
    width: 41.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_5:nth-child(12n), .xl_5:nth-child(6n), .xl_5:nth-child(4n), .xl_5:nth-child(3n), .xl_5:nth-child(2n) {
      width: 41.66667%;
      float: left; }
    .xl_5.last {
      width: 41.66667%;
      float: right;
      margin-right: 0; }

  .xl_6 {
    width: 50%;
    float: left;
    padding: 0 1.5rem; }
    .xl_6:nth-child(12n), .xl_6:nth-child(6n), .xl_6:nth-child(4n), .xl_6:nth-child(3n), .xl_6:nth-child(2n) {
      width: 50%;
      float: left; }
    .xl_6.last, .xl_6:nth-child(2n) {
      width: 50%;
      float: right;
      margin-right: 0; }

  .xl_7 {
    width: 58.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_7:nth-child(12n), .xl_7:nth-child(6n), .xl_7:nth-child(4n), .xl_7:nth-child(3n), .xl_7:nth-child(2n) {
      width: 58.33333%;
      float: left; }
    .xl_7.last {
      width: 58.33333%;
      float: right;
      margin-right: 0; }

  .xl_8 {
    width: 66.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_8:nth-child(12n), .xl_8:nth-child(6n), .xl_8:nth-child(4n), .xl_8:nth-child(3n), .xl_8:nth-child(2n) {
      width: 66.66667%;
      float: left; }
    .xl_8.last {
      width: 66.66667%;
      float: right;
      margin-right: 0; }

  .xl_9 {
    width: 75%;
    float: left;
    padding: 0 1.5rem; }
    .xl_9:nth-child(12n), .xl_9:nth-child(6n), .xl_9:nth-child(4n), .xl_9:nth-child(3n), .xl_9:nth-child(2n) {
      width: 75%;
      float: left; }
    .xl_9.last {
      width: 75%;
      float: right;
      margin-right: 0; }

  .xl_10 {
    width: 83.33333%;
    float: left;
    padding: 0 1.5rem; }
    .xl_10:nth-child(12n), .xl_10:nth-child(6n), .xl_10:nth-child(4n), .xl_10:nth-child(3n), .xl_10:nth-child(2n) {
      width: 83.33333%;
      float: left; }
    .xl_10.last {
      width: 83.33333%;
      float: right;
      margin-right: 0; }

  .xl_11 {
    width: 91.66667%;
    float: left;
    padding: 0 1.5rem; }
    .xl_11:nth-child(12n), .xl_11:nth-child(6n), .xl_11:nth-child(4n), .xl_11:nth-child(3n), .xl_11:nth-child(2n) {
      width: 91.66667%;
      float: left; }
    .xl_11.last {
      width: 91.66667%;
      float: right;
      margin-right: 0; }

  .xl_12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0 1.5rem; }
    .xl_12:nth-child(12n), .xl_12:nth-child(6n), .xl_12:nth-child(4n), .xl_12:nth-child(3n), .xl_12:nth-child(2n) {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
    .xl_12.last {
      width: 100%;
      float: right;
      margin-right: 0; } }
