/************************************************************************/
/* HTML/BODY
/************************************************************************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
}

body {
  background: white;
  color: #141414;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.btn_static, input[type="submit"], .btn, .btn:hover, .btn_alt, .btn_alt:hover, .btn_outline, .btn_outline:hover {
  border-width: 2px;
  border-style: solid;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  padding: 1rem 2rem;
  display: inline-block;
  cursor: pointer;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1200px) {
  .wrap {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap:after {
    content: " ";
    display: block;
    clear: both;
  }
}

/************************************************************************/
/* TYPOGRAPHY
/************************************************************************/
a {
  color: #00b4bc;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:visited {
  color: #00b4bc;
}
a:hover {
  text-decoration: none;
  color: #00b5bd;
}
a:hover, a:active, a:focus {
  outline: 0;
}

p, blockquote {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #141414;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

blockquote {
  border-left: 2px solid #999999;
  padding-left: 1.8rem;
  font-style: italic;
  color: #999999;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

article ul, article ol {
  font-size: 1.6rem;
  padding-left: 1.8rem;
  margin-bottom: 1.5rem;
}
article ul li, article ol li {
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}
article ul ul, article ul ol, article ol ul, article ol ol {
  margin-bottom: 0;
}
article ul {
  list-style-type: disc;
}
article ol {
  list-style-type: decimal;
}

sup {
  font-size: 0.9rem;
  position: relative;
  top: -0.75rem;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

small, .small {
  font-size: 75%;
}

/************************************************************************/
/* FORMS
/************************************************************************/
::-webkit-input-placeholder {
  color: #cccccc;
}

:-moz-placeholder {
  color: #cccccc;
}

::-moz-placeholder {
  color: #cccccc;
}

:-ms-input-placeholder {
  color: #cccccc;
}

label, legend {
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
}

input, textarea, select {
  background: white;
  border: 1px solid #999999;
  color: #141414;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  display: inline-block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 0 0 1rem;
  outline: none;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  padding: 0;
  margin: 0 0 1rem;
}

input[type="color"] {
  border: 0;
  padding: 0;
  width: 4.1rem;
  height: 4.1rem;
}

input[type="submit"] {
  background: #333333;
  border-color: #333333;
  color: white;
  -webkit-appearance: none;
  width: 100%;
}
input[type="submit"]:visited {
  background: #333333;
  border-color: #333333;
  color: white;
}
@media (min-width: 570px) {
  input[type="submit"] {
    width: auto;
  }
}

.options_list {
  list-style-type: none;
  padding: 0;
}

.styled_select {
  background: white url("../img/select-arrow.png") right center no-repeat;
  border: 1px solid #999999;
  height: 4rem;
  overflow: hidden;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  width: 100%;
}
.styled_select select {
  background: transparent;
  border: 0 !important;
  border-radius: 0;
  color: #cccccc;
  font-size: 1.6rem;
  height: 4rem;
  padding: 1rem 1.5rem;
  -webkit-appearance: none;
  width: 115%;
}

.message {
  border: 2px solid #141414;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}
.message.error {
  background: #e10000;
  background: rgba(225, 0, 0, 0.6);
  border-color: #e10000;
}
.message.success {
  background: #3c960a;
  background: rgba(60, 150, 10, 0.6);
  border-color: #3c960a;
}

/************************************************************************/
/* BUTTONS
/************************************************************************/
.btn {
  background: #333333;
  border-color: #333333;
  color: white;
}
.btn:visited {
  background: #333333;
  border-color: #333333;
  color: white;
}

.btn:hover {
  background: #999999;
  border-color: #999999;
  color: white;
}
.btn:hover:visited {
  background: #999999;
  border-color: #999999;
  color: white;
}

.btn_alt {
  background: #cccccc;
  border-color: #cccccc;
  color: #141414;
}
.btn_alt:visited {
  background: #cccccc;
  border-color: #cccccc;
  color: #141414;
}

.btn_alt:hover {
  background: #999999;
  border-color: #999999;
  color: white;
}
.btn_alt:hover:visited {
  background: #999999;
  border-color: #999999;
  color: white;
}

.btn_outline {
  background: none;
  border-color: #999999;
  color: #141414;
}
.btn_outline:visited {
  background: none;
  border-color: #999999;
  color: #141414;
}

.btn_outline:hover {
  background: #333333;
  border-color: #333333;
  color: white;
}
.btn_outline:hover:visited {
  background: #333333;
  border-color: #333333;
  color: white;
}

/************************************************************************/
/* HEADER STYLES
/************************************************************************/
header[role="banner"] {
  *zoom: 1;
  background: #999999;
  padding: 2rem 0;
}
header[role="banner"]:before, header[role="banner"]:after {
  display: table;
  content: "";
}
header[role="banner"]:after {
  clear: both;
}
header[role="banner"] .logo {
  float: left;
  display: block;
}

/************************************************************************/
/* FOOTER STYLES
/************************************************************************/
footer[role="contentinfo"] {
  *zoom: 1;
  background-color: #cccccc;
  padding: 2rem 0;
}
footer[role="contentinfo"]:before, footer[role="contentinfo"]:after {
  display: table;
  content: "";
}
footer[role="contentinfo"]:after {
  clear: both;
}

/************************************************************************/
/* DEFAULT PAGE STYLES
/************************************************************************/
/************************************************************************/
/* HOME
/************************************************************************/
