/************************************************************************/
/* FOOTER STYLES
/************************************************************************/

footer[role="contentinfo"] {
	@include clearfix;
	padding: 2rem 0;
	background: $black;
	color: $grey;
}