/************************************************************************/
/* FORMS
/************************************************************************/

::-webkit-input-placeholder{ color: $placeholder_color; }
:-moz-placeholder{ color: $placeholder_color; }
::-moz-placeholder{ color: $placeholder_color; }
:-ms-input-placeholder{ color: $placeholder_color; }

label, legend {
	display: block;
	font-size: $base_font_size;
	line-height: $base_line_height;
}

input, textarea, select {
	background: $white;
	border: $input_border;
	color: $text_color;
	font-family: $base_font;
	font-size: $base_font_size;
	line-height: $base_line_height;
	display: inline-block;
	width: 100%;
	padding: 1rem 1.5rem;
	margin: 0 0 1rem;
	outline: none;
	@include single-transition(all, 0.2s, ease-in-out);
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	padding: 0;
	margin: 0 0 1rem;
}

input[type="color"]{
	border: 0;
	padding: 0;
	width: 4.1rem;
	height: 4.1rem;
}

input[type="submit"]{
	@include btn($darkgrey, $darkgrey, $white);
	-webkit-appearance: none;
	width: 100%;

	@include breakpoint($md){
		width: auto;
	}
}

.options_list {
	list-style-type: none;
	padding: 0;
}

.styled_select {
	background: $white url("../img/select-arrow.png") right center no-repeat;
	border: $input_border;
	height: 4rem;
	overflow: hidden;
	margin-bottom: 1rem;
	-webkit-appearance: none;
	width: 100%;

	select {
		background: transparent;
		border: 0 !important;
		border-radius: 0;
		color: $lightgrey;
		font-size: $base_font_size;
		height: 4rem;
		padding: 1rem 1.5rem;
		-webkit-appearance: none;
		width: 115%;
	}
}

.message {
	border: 2px solid $text_color;
	@include border-radius(3px);
	color: $white;
	padding: 1rem 1.5rem;
	margin-bottom: 1rem;

	&.error {
	    background: $msgred;
	    background: rgba($msgred,0.6);
	    border-color: $msgred;
	}
	&.success {
	    background: $msggreen;
	    background: rgba($msggreen,0.6);
	    border-color: $msggreen;
	}
}
