/************************************************************************/
/* TYPOGRAPHY
/************************************************************************/

a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;
	@include single-transition(all, 0.2s, ease-in-out);
	
	&:active,
	&:focus,
	&:hover {
		color: shade($link-color,25%);
		outline: 0;
	}
	
	&.tooltip-item {
		position: relative;
		
		&::after {
			background-color: $white;
			border: $input-border;
			color: $text-color;
			font-size: modular-scale(-1);
			content: attr(aria-label);
			display: none;
			@include position(absolute, null null 100% 0);
			padding: 1rem;
			pointer-events: none;
		}
	
		&:hover::after,
		&:focus::after{
			display: inline-block;
		}
	}
}

p {
	font-size: $base-font-size;
	line-height: $base-line-height;
	@include margin(null null 1.5rem null);
}

//------------------------------------------------------------------------
// HEADINGS
//------------------------------------------------------------------------

#{headings()} {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: 500;
	text-rendering: optimizelegibility;
	line-height: $base-line-height;
	margin-bottom: 1rem;
}

h1 {
	font-size: 3.2rem;
}

h2 {
	font-size: 2.4rem;
}

h3 {
	font-size: 2.0rem;
}

h4 {
	font-size: 1.8rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

//------------------------------------------------------------------------
// BASIC TYPOGRAPHY ELEMENTS
//------------------------------------------------------------------------

blockquote {
	@extend p;
	border-left: 2px solid $grey;
	color: $grey;
	font-style: italic;
	@include padding(null null null 1.8rem);
}

ul, ol {
	list-style-type: none;
	@include padding(0);
	@include margin(0);
}

article {
	
	ul, ol {
		@extend p;
		@include padding(null null null 1.8rem);
		
		li { @extend p; }
	    
		ul, ol { @include margin(null null 0 null); }
  	}
  	
	ul{
		list-style-type: disc;
		ul{ @include margin(1.5rem null null); }
	}
	ol{
		list-style-type: decimal;
		ol{ @include margin(1.5rem null null); }
	}
}

sup {
	font-size: 0.9rem;
	@include position(relative, -0.75rem null null null);
}

b, strong { font-weight: 600; }

i, em { font-style: italic; }

small, .small{ font-size: 75%; }
